<layout-central>
  <ng-container header> Daftar Sekarang</ng-container>
  <ng-container description
    >Selamatkan Rasa dan Bantu Kurangi Pemborosan Makanan.</ng-container
  >
  <component-choice-cards>
    <component-choice-card
      title="Konsumen"
      description="Saya ingin mencari dan membeli makanan yang dekat kedaluarsa."
      routerLink="/register/consumer"
    ></component-choice-card>
    <component-choice-card
      title="Produsen"
      description="Anda ingin menjual makanan yang dekat kedaluarasa."
      routerLink="/register/vendor"
    ></component-choice-card>
  </component-choice-cards>
</layout-central>
