:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1280px;
  max-width: 100%;

  &.fullWidth {
    width: 100%;
  }
}

.content {
  flex: 1 1 auto;
  overflow: auto;
  padding: 1rem;
}
